.logout-block {
    position: relative;
    margin: 0;
    padding: 0;
    border: 1px solid #1A1B22;
    box-sizing: border-box;
    border-radius: 100px;
    width: 176px;
    height: 48px;
    margin: 0 0 0 32px;
    display: flex;
    justify-content: center;
}


/* .logout-block :last-child {
    border: 1px solid #1A1B22;
    box-sizing: border-box;
    border-radius: 100px;
    width: 176px;
    height: 48px;
    margin: 0 0 0 32px;
    justify-content: center;
} */