.cards__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* max-width: 400px; */
    max-height: 576px;
    position: relative;
    background: #FFFFFF;
    border-radius: 20px;
}