.search__panel {
    margin: 64px auto 80px;
    position: relative;
}

@media screen and (max-width:768px) {
    .search__panel {
        margin: 48px auto;
        height: 56px;
        max-width: 448px;
    }
}

@media screen and (max-width:500px) {
    .search__panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 122px auto 0;
    }
}