.search__panel {
    margin: 64px auto 80px;
    background: #FFFFFF;
    box-sizing: border-box;
    /* border: 1px solid #D1D2D6; */
    border: none;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    width: 608px;
    height: 64px;
    display: flex;
}

@media screen and (max-width:768px) {
    .search__panel {
        margin: 48px auto;
    }
}