@import url(./__title/cards__title.css);
@import url(./__container/cards__container.css);
@import url(./__item/cards__item.css);
@import url(./__item-image/cards__item-image.css);
@import url(./__item-label/cards__item-label.css);
@import url(./__item-icon/cards__item-icon.css);
@import url(./__item-content/cards__item-content.css);
@import url(./__item-date/cards__item-date.css);
@import url(./__item-title/cards__item-title.css);
@import url(./__item-text/cards__item-text.css);
@import url(./__item-source/cards__item-source.css);
@import url(./__button/cards__button.css);
@import url(./__item-icon-trash/cards__item-icon-trash.css);
@import url(./__item-sticker/cards__item-sticker.css);
@import url(./__item-category/cards__item-category.css);
@import url(./__delete-btn/cards__delete-btn.css);
.cards {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1440px;
    /* width: 100%; */
    padding: 0 104px;
    margin: 0 auto;
    background: #F5F6F7;
}

@media screen and (max-width:1280px) {
    .cards {
        padding: 0 80px;
    }
}

@media screen and (max-width:1024px) {
    .cards {
        padding: 0 60px;
    }
}

@media screen and (max-width:768px) {
    .cards {
        padding: 0 40px;
    }
}

@media screen and (max-width:500px) {
    .cards {
        padding: 0 16px;
    }
}