@import url(./__image/loader__image.css);
@import url(./__info/loader__info.css);
.loader {
    height: 282px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #F5F6F7;
}