.popup__content {
    width: 430px;
    min-height: 100px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 0 36px 28px;
}

@media screen and (max-width:500px) {
    .popup__content {
        width: 320px;
        padding: 16px;
        min-height: 50vh;
    }
}