@import url(./__image/search-not-found__image.css);
@import url(./__text/search-not-found__text.css);
@import url(./__title/search-not-found__title.css);
.search-not-found {
    height: 374px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #F5F6F7;
    max-width: 1440px;
    display: none;
}

.search-not-found_is-active {
    display: flex;
}