.profile__content {
    max-width: 600px;
    margin: 131px auto auto 56px;
    /* display: flex;
    flex-direction: column;
    justify-content: start; */
}

@media screen and (max-width:1024px) {
    .profile__content {
        margin: 60px auto auto 56px;
    }
}