@import url(./__logout-link/header__logout-link.css);
@import url(./__logout/header-light__logout.css);
@import url(./__link-dark/header__link-dark.css);
@import url(../header/__link/_active/header__link_active.css);
@import url(./__title-dark/header__title-dark.css);
@import url(../header/__container/header__container.css);
@import url(../header/__nav/header__nav.css);
@import url(../header/__logout/header__logout.css);

/* @import url(../logout-block/logout-block.css); */

.header-light {
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #D1D2D6;
    margin: 0 auto;
    padding: 0;
    height: 80px;
}